@charset "utf-8";

html {
    font-size: 16px;
}

body {
    color: #705c53;
    font-size: 1rem;
    font-family: "YuGothic", Yu Gothic, sans-serif;
}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニュー */

.ac {

    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
}

/* ↑アコーディオン全体 */

.ac-label {
    cursor: pointer;
    text-align: center;
    position: relative;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}

.ac-content {
    display: none;
    color: #705c53;
    background-color: #fff;
    border: 2px solid navy;
}

.ac-lists {
    width: 100%;
    text-align: center;

}

a:hover {
    display: block;
    background-color: darkblue;
    color: #fff;
}

.arrow-wrap {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translatey(-50%);
    width: 50px;
    height: 50px;
}

.arrow {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.arrow:before {
    position: absolute;
    content: "";
    transition: all .4s;
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 2px;
    border-right: solid 2px;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.arrow.open:before {
    top: 56%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
